@use '../../styles/mixins' as m;
@use '../../styles/colors' as c;

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    color: c.$darker;
    font-size: 1.8rem;
  }
}

.actions {
  height: 100%;
  padding: {
    block: 1rem;
  }
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;

  input {
    @include m.input;
  }
  a {
    @include m.button;
  }
}

@media (max-width: 800px) {
  .container {
    h1 {
      font-size: 1.3rem;
    }
  }

  .actions {
    input {
      width: 50%;
    }
  }
}
