.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  height: 2.5rem;
}

.actions {
  display: flex;
  height: 2.5rem;
}
