@use '../../../styles/mixins' as m;

.container {
  @include m.input-container;

  input {
    @include m.input;

    width: min-content;
    padding: {
      block: 0.4rem;
    }
  }
}
