.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: {
    inline: 20%;
  }
}

.field {
  display: flex;
  height: 3rem;
  align-items: center;
  h4 {
    margin: 0;
  }
  div {
    height: 2rem;
    display: flex;
  }
}
